body
	background-color rgb(246, 248, 250)

.full-width
	width 100%
	min-height 100%

.center-content
	display flex
	justify-content center
	align-items center
	
	.form_block
		max-width 820px
		position relative
		margin 50px auto
		background #fff
		box-shadow rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(0, 0, 0, 0.16) 0px 1px 4px 0px
		
		.form_block__wrapper
			padding 30px
		
			.form_block__header
				
				h1
					margin 0
					font-size 30px
				    font-weight 300 !important
				    color #333