@import '~vuetify/src/stylus/main'

html
	overflow-y auto

.theme--light.application
	background-color #01CAD1

.full-width
	width 100%
	min-height 100%

.v-date-picker-table
	height 173px

.v-date-picker-table--month td
	height 40px
