body
	background-color rgb(246, 248, 250)

.full-width
	width 100%
	min-height 100%

.center-content
	display flex
	justify-content center
	align-self flex-start

	.form_block
		max-width 820px
		position relative
		background #fff

		.form_block__wrapper
			padding 30px

			.form_block__header

				span.md-display-1
					color #333
